<!-- TODO: add color depending on if it's exepnse or income -->



<mat-drawer-container autosize="true">
    <mat-toolbar class="search-toolbar" color="primary">
        <mat-form-field class="toolbar-item" appearance="outline">
            <mat-label> Name </mat-label>
            <input
            matInput
            type="text"
            id="name"
            [(ngModel)]="filter.name"
            name="name"
            (ngModelChange)="searchItem()"
            placeholder="Name"
            />
        </mat-form-field>
        <!-- search by type -->
        <mat-form-field class="toolbar-item" appearance="outline">
            <mat-label> Type </mat-label>
            <mat-select
            id="type"
            [(ngModel)]="filter.type"
            name="type"
            (ngModelChange)="searchItem()"
            >
            <mat-option *ngFor="let type of types" [value]="type">
                {{ type }}
            </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- search by account -->
        <mat-form-field class="toolbar-item" appearance="outline">
            <mat-label> Account </mat-label>
            <mat-select
            id="account"
            [(ngModel)]="filter.account"
            name="account"
            (ngModelChange)="searchItem()"
            >
            <mat-option *ngFor="let account of accounts" [value]="account.id">
                {{ account.name }}
            </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- search by category -->
        <mat-form-field class="toolbar-item" appearance="outline">
            <mat-label> Category </mat-label>
            <mat-select
            id="category"
            [(ngModel)]="filter.categories"
            name="category"
            (ngModelChange)="searchItem()"
            >
            <mat-option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
            </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- clear search -->
        <button mat-icon-button class="toolbar-item" (click)="searchItem(true)">
            <mat-icon>filter_alt_off</mat-icon>
        </button>
    </mat-toolbar>


    <table mat-table [dataSource]="dataSource" style="width: 100vw;">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="isAllSelected()"
                            [indeterminate]="isIndeterminate()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" style="width: 5%;">
              <mat-checkbox 
                            (click)="$event.stopPropagation(); toggleRow(row)"
                            [checked]="row.selected">
              </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell style="width: 8%;" *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell style="width: 8%;" *matCellDef="let element"> {{ element.date | date:"dd.MM.yyyy" }} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell style="width: 8%;" *matCellDef="let element"> {{ element.price }} </td>
        </ng-container>
        <ng-container matColumnDef="spare">
            <th mat-header-cell *matHeaderCellDef> Spare </th>
            <td mat-cell style="width: 8%;" *matCellDef="let element"> {{ element.spare }} </td>
        </ng-container>
        <ng-container matColumnDef="tax">
            <th mat-header-cell *matHeaderCellDef> Tax </th>
            <td mat-cell style="width: 8%;" *matCellDef="let element"> {{ element.tax }} </td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell style="width: 8%;" *matCellDef="let element"> {{ element.total.toFixed(2) }} </td>
        </ng-container>
        <ng-container matColumnDef="currency">
            <th mat-header-cell *matHeaderCellDef> Currency </th>
            <td mat-cell style="width: 8%;" *matCellDef="let element"> {{ getCurrencyName(element.account) }} </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef style=> Type </th>
            <td mat-cell style="width: 8%;" *matCellDef="let element"> {{ element.type }} </td>
        </ng-container>
        <ng-container matColumnDef="account">
            <th mat-header-cell *matHeaderCellDef> Account </th>
            <td mat-cell style="width: 8%;" *matCellDef="let element"> {{ getAccountName(element.account) }} </td>
        </ng-container>
        <ng-container matColumnDef="categories">
            <th mat-header-cell *matHeaderCellDef> Categories </th>
            <td mat-cell style="width: 8%;" *matCellDef="let element"> {{ getCategoryNames(element.categories) }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(row)"></tr>
    </table>
</mat-drawer-container>